    <div class="container">
        <div class="loginHeader">
            <h1>Log In</h1>
        </div>
        <div class="loginBody">
            <form action="">
                <div class="loginInputContainer">
                    <label for="email" id="email">Email</label>
                    <input type="text" placeholder="type email here">
                </div>
                <div class="loginInputContainer">
                    <label for="password" id="password">Password</label>
                    <input type="password" placeholder="type password here">
                </div>
                <div>
                    <button type="submit">login</button>
                    <a href="/signup"><button type="button">sign up</button></a>
                </div>
            </form>
        </div>
    </div>

<script src="/javascript/login.js"></script>