    <div class="container">
        <div class="signUpHeader">
            <h1>Log In</h1>
        </div>
        <div class="signUpBody">
            <form action="">
                <div class="signUpContainer">
                    <label for="email" id="email">Email</label>
                    <input type="text" placeholder="type email here">
                </div>
                <div class="signUpContainer">
                    <label for="password" id="password">Password</label>
                    <input type="password" placeholder="type password here">
                </div>
                <div>
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>

<script src="/javascript/signup.js"></script>