
    {{#each posts as |post|}}
    <div id="dashboard-structure" ></div>
    <div class="container m-4" id="post-content">
    <a id= "post-title" href="/post/{{post.id}}">{{post.title}}</a>
    <p id="content-info">{{post.content}}</p>
    </div>
    </div> 
    <a href="/edit/{{post.id}}"><button >edit post</button></a>
    <a href="/create">create new post</a>
    {{/each}}
