    {{#each posts as |post|}}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <a href="/edit/{{post.id}}"><button >edit post</button></a>
    {{/each}}

    <a href="/create">create new post</a>