    {{#each posts as |post|}}
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <a href="/edit/{{post.id}}"><button >edit post</button></a>
    {{/each}}

    <a href="/create">create new post</a>