    <div class="container m-12">
        <div class="signUpHeader">
            <h1>Log In</h1>
        </div>
        <div class="signUpBody">
            <form action="">
                <div class="signUpContainer">
                    <label for="username">Username</label>
                    <input type="text" placeholder="username" id="username">
                </div>
                <div class="signUpContainer">
                    <label for="email">Email</label>
                    <input type="text" placeholder="type email here" id="email">
                </div>
                <div class="signUpContainer">
                    <label for="password">Password</label>
                    <input type="password" placeholder="type password here" id="password">
                </div>
                <div>
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>

<script src="/javascript/signup.js"></script>