{{content}}

<!-- displaying form and comments-->
{{#if loggedIn}}
  <div class="card">
    <div class="card-header ml-4 p-2">
      add comment
      <label for="comment"></label>
      <input type="comment" placeholder="type comment here" id="comment">
    </div>
    <form class="card-body comment-form ml-4 p-2">
      <div>
      </div>

      <div>
        <button type="submit">submit</button>
      </div>
    </form>
  </div>
{{/if}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}