<!-- displaying form and comments-->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="content"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
  
</form>
{{/if}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

