body {
  background-color: #3d5a80;
  color: #e0fbfc;
}
h1 {
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26px;
}
h3 {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15px;
}
p {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 14px;
  border-style: solid;
  border-radius: 1em;
  border-color: #293241;
  background-color: #293241;
  color: #e0fbfc;
}

button {
  font-family: "Open Sans";
  font-size: 14px;
  border-style: solid;
  border-radius: 1em;
  border-color: #293241;
  background-color: #293241;
  color: #e0fbfc;
}

input,
textarea {
  background-color: #98c1d9;
  font-family: "Open Sans";
  border-radius: 1rem;
}

.edit-form {
  font-family: "Open Sans";
  font-size: 14px;
}

.postBody {
  font-family: "Open Sans";
  font-size: 14px;
}

#post-title {
  background-color: #98c1d9;
  color: #293241;
  border-radius: 0.25rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.post-info {
  background-color: #e0fbfc;
  color: #293241;
  padding: 1rem;
  max-width: 20rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

#content-info {
  font-size: 1rem;
  margin-left: 2rem;
  padding-top: 1.5rem;
}

#user-info {
  display: flex;
  justify-content: start;
  margin: 0.25rem;
}

#post-content {
  display: flex;
  margin: 1rem;
}

#card {
  border-color: #293241;
  padding: 1rem;
}
